body {
	min-width: 357px;
	overflow-x: hidden;
}

ul.book{ 
    padding: 0; 
    margin: 0;
	list-style-type: none;
}

ul.book li 
{
    padding: 0; 
	padding-left: 1em; 
    margin: 0;
}

#list div{ margin-top:10px;}
